body{
   background-image: url(https://images3.alphacoders.com/130/1303834.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}

.App {
   text-align: center;
}
